html, body {
    height:100%;
} 

body {
	margin: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    overflow: ;
    font-family: 'Raleway', sans-serif;
    overflow-y: hidden;  /* use media queries to make it scrolabel on smaller height */
}

.ticket {
	width: 94%;
	max-width: 410px;
	height: 95%;
	max-height: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: rgba(249,249,249,0.79);
	border-radius: 7px;
	box-shadow: 0px 4px 7px #202020;
}

.info {
	width: 75%;
	max-width: 310px;
	height: 80%;
	float: left;
}

.options {
	float: left;
	width: 25%;
	max-width: 100px;
	height: 69%;
	border-left: 1px solid #9f9f9f;
	margin-top: 15px;
}

.option {
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	min-height: 45px;
	padding-top: 5px;
	background-color: #bdbdbd;
	border-radius: 5px;
	color: #000;
	text-align: center;
	font-size: 10.5pt;
	
}

.option:hover{
	cursor:pointer;
}

h1 {
	color: #272727;
	font-weight: 600;
	text-align: center;
	font-size: 18pt;
	padding-top: 22px;
}


.plane-icon {
	background-image: url('../images/icons.png');
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px 10px 0px 30px;
}

.arrow-icon {
	background-image: url('../images/icons.png');
	width: 45px;
	height: 50px;
	background-position: 45px 0px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}

.time-icon {
	background-image: url('../images/icons.png');
	width: 30px;
	height: 50px;
	background-position: 140px 0px;
	float: left;
	margin: -3px 0px 0px 20px;
}

.date-icon {
	background-image: url('../images/icons.png');
	width: 30px;
	height: 50px;
	background-position: 110px 0px;
	float: left;
	margin: -3px 5px 0px 19px;
}

h2 {
  font-size: 29pt;
  font-weight: 200;
  float: left;
  margin-left: 10px;
  line-height: 0pt;
  color: #fc5920;
}

h3 {
  font-size: 21pt;
  font-weight: 200;
  float: left;
  line-height: 0pt;
}

h4 {
  font-size: 21pt;
  font-weight: 200;
  float: left;
  line-height: 0pt;
  margin-top: 25px;
  margin-left: 7px;
}

.flight {
	width: 265px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	margin-top: 10px;
}

.times {
	margin: 10px auto 0px 20px;
	width: 120px;
	height: 60px;
	float: left;
}

.category {
	width: 110px;
	text-align: left;
	float: left;
    color: #fc5920;
    font-size: 12pt;

}

.time1 {
	margin-top: -7px;
	margin-left: 7px;
}

.date1 {
	margin-left: 35px;
}

.seat {
	width: 200px;
	margin-top: 110px;
	margin-left: 20px;
}

h5 {
  font-size: 40pt;
  font-weight: 200;
  float: left;
  line-height: 0pt;
  margin-top: 25px;
  margin-left: 7px;
}

.seat-no {
	margin-top: -50px;
	margin-left: 7px;
}

.social {
	margin: 210px 0px 0px 20px;
	width: 247px;
}

.others{
	width: auto;
	margin-top: 20px;
}

.btns {
	width: 370px;
	margin: 20px auto 0px auto;
}

.btn {
	width: 175px;
	height: 35px;
	border-radius: 5px;
	background-color: #fc5920;
	color: #fff;
	line-height: 27pt;
	font-size: 12pt;
	text-align: center;
	margin: -20px 5px 0px 5px;
	float: left;
}

.firstbtn {
	line-height: 3pt;
}

.btn:hover {
	cursor:pointer;
	background-color: #f86a38;
}

/* Media Queries */

@media (max-width: 640px) {
  body {
    background-position: -220px 0px;
     background-size: cover;
  }
  .ticket {
  	margin-top: 40px;
  }
}

@media (max-width: 410px) {
  body {
  	background-image: url('../images/bg-small.jpg');
    background-position: -250px 0px;
     background-size: cover;
  }
  .ticket {
  	margin-top: 10px;
  }
}

@media (max-height: 630px) {
	.ticket{
		margin-top: 10px;
	}
}

@media (max-width: 429px) {
	.info {
	width: 70%;
	max-width: 300px;
	}

	h2 {
		font-size: 22pt;
	}

	h3 {
		font-size: 16pt;
	}

	h4 {
		font-size: 16pt;
		margin-top: 20px;
	}

	.times {
		width: 90px;
		font-weight: bold;
	}

	.date1 {
		margin-left: 25px;
	}

	.flight {
		width: 235px;
		margin-left: 20px;
	}

	.seat {
		margin-top: 150px;
	}

	.social{
		width: 230px;
	}


	.ticket {
		padding-bottom: 170px;
	}

	.btns {
		width: 100%;
		margin-top: 470px;
	}

	.btn {

		float: none;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.firstbtn {
		margin-top: 3px;
		line-height: 17pt;
	}

	.firstbtn > p {
		margin-bottom: 10px;
	}

	body{
		overflow-y:scroll;
	}

	.option {
	width: 90%;
	margin-left: 10%;
	}

	.category {
		font-weight: 600;
	}

}

